SQLAlchemy==2.0.24
Flask==2.3.3
Flask-Session==0.5.0
flask-cors==4.0.0
flask_marshmallow==0.14.0
marshmallow==3.15.0
gunicorn==21.2.0
alembic==1.9.*
pre-commit==2.20.0
Werkzeug==3.0.1
python-dateutil==2.8.2
black<23